.products{
    height: 35vh;
    background: var(--bg-products);
}

.card-products{
    padding: 30px 60px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #98521A;
    cursor: pointer;
    width: fit-content;
    transition: 0.5s;
    transform: scale(1);
}

.card-products:hover{
    background-color: #f5dac3;
    transform: scale(1.02);
}